//---------------------------------
@keyframes rotate {
  100% {
      @include rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  100% {
      @include rotate(360deg);
  }
}
a{
  cursor: pointer;
  outline: none !important;
}
.list-featured{
  list-style: none;
  margin:0;
  padding:0;
  li{
    margin-bottom: 10px;
    @media(min-width: 1200px){
      margin-bottom: 15px;
    }
    &:last-child{
      margin:0;
    }
  }
}
ul.list{
  padding:0;
  list-style:none;
  margin:0;
  li{
    margin-bottom:12px;
    &:last-child{
      margin:0;
    }
    i{
      @include rtl-margin-right(10px);
    }
  }
}
.apus-nav{
  margin-bottom: 0;
  padding-left: 0; // Override default ul/ol
  list-style: none;
  @include clearfix;
  > li {
    position: relative;
    display: block;
    > a {
      position: relative;
      display: block;
      padding: $nav-link-padding;
      &:hover,
      &:focus {
        text-decoration: none;
        background-color: $nav-link-hover-bg;
      }
    }
    &.active{
      > a{
        background-color: $nav-link-hover-bg;
      }
    }
    // Disabled state sets text to gray and nukes hover/tab effects
    &.disabled > a {
      color: $nav-disabled-link-color;

      &:hover,
      &:focus {
        color: $nav-disabled-link-hover-color;
        text-decoration: none;
        background-color: transparent;
        cursor: $cursor-disabled;
      }
    }
  }
  // Open dropdowns
  .open > a {
    &,
    &:hover,
    &:focus {
      background-color: $nav-link-hover-bg;
      border-color: $link-color;
    }
  }

  // Nav dividers (deprecated with v3.0.1)
  //
  // This should have been removed in v3 with the dropping of `.nav-list`, but
  // we missed it. We don't currently support this anywhere, but in the interest
  // of maintaining backward compatibility in case you use it, it's deprecated.
  .nav-divider {
    @include nav-divider;
  }

  // Prevent IE8 from misplacing imgs
  //
  // See https://github.com/h5bp/html5-boilerplate/issues/984#issuecomment-3985989
  > li > a > img {
    max-width: none;
  }
}
.no-breadscrumb{
  #apus-breadscrumb{
    display: none;
  }
}
.image-lazy-loading .image-wrapper{
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns=\"http://www.w3.org/2000/svg\" width=\"38\" height=\"38\" viewBox=\"0 0 38 38\" stroke=\"rgba(102,102,102,0.25)\"%3E%3Cg fill=\"none\" fill-rule=\"evenodd\"%3E%3Cg transform=\"translate(1 1)\" stroke-width=\"2\"%3E%3Ccircle stroke-opacity=\".55\" cx=\"18\" cy=\"18\" r=\"18\"/%3E%3Cpath d=\"M36 18c0-9.94-8.06-18-18-18\"%3E%3CanimateTransform attributeName=\"transform\" type=\"rotate\" from=\"0 18 18\" to=\"360 18 18\" dur=\"1s\" repeatCount=\"indefinite\"/%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
   max-height: 100%;
   img{
    @include opacity(0);
    @include transition(all 0.3s ease-in-out 0s);
   }
  &.image-loaded{
    background: none;
    img{
      @include opacity(1);
    }
  }
}
.media-body{
  width: 10000px;
}
.action {
  .caret{
    @include size(8px,8px);
    position: relative;
  }
  &[aria-expanded="true"]{
    b{
      &:before{
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        content: "\f00d";
        position: absolute;
        top:0;
        left: 0;
        font-size: 12px;
      }
      border:none;
    }
  }
}
.media{
  img{
    max-width:none;
  }
}
.video-responsive {
    height: 0;
    padding-top: 0;
    padding-bottom: 56.25%;
    margin-bottom : 10px;
    position: relative;
    overflow: hidden;
	embed,iframe,object,video{
		top: 0;
		left: 0;
		position: absolute;
        @include square(percentage(1));
	}
}
.audio-responsive{
	iframe{
		@include size(percentage(1), 126px);
	}
}
ul.list-square {
   padding: 0;
   margin: 0;
   list-style: none;
   > li{
    line-height: 35px;
    font-size: 14px;
    margin: 0;
    &.active,
    &:hover{
      > a{
        color: $theme-color;
        &:before{
          background: $theme-color;
        }
      }
    }
    >a{
      display: block;
      @include rtl-padding-left(21px);
      position: relative;
      &:before{
        content: '';
        background: $link-color;
        @include size(8px,8px);
        @include rtl-left(0);
        position: absolute;
        top: 50%;
        @include translateY(-50%);
      }
    }
   }
}
// breadcrumb
.apus-breadscrumb{
    padding: 0;
    margin:0 0 20px;
    background-color:darken(#f6f6f6, 5%);
    @media(min-width:1200px){
      margin-bottom:50px;
    }
    .breadcrumb{
      background: transparent;
      margin:2px 0 0;
      padding: 0;
      color: $link-color;
      font-size: 15px;
      font-weight: 400;
      .active{
        color: $link-color;
      }
      a{
        color: #5c5c5c;
        &:hover,
        &:active{
          color: $link-color;
        }
      }
    }
    .bread-title{
      font-size: 20px;
      font-weight: 700;
      margin: 0;
      line-height: 1.1;
      @media(min-width: 1200px){
        font-size: 28px;
      }
    }
    .apus-inner-bread{
      padding:10px 0;
      position:relative;
      @media(min-width:1200px){
        padding:20px 0;
      }
    }
    @media(min-width: 1200px){
      .breadcrumb-full{
        padding-left:25px;
        padding-right:25px;
      }
    }
    &.has-img{
      background-color:#212121;
      margin:0;
      .apus-inner-bread{
        height:120px;
        @media(min-width:1200px){
          height:350px;
        }  
      }   
      .wrapper-breads{
        position:absolute;
        left:0;
        width:100%;
        z-index:2;
        text-align: center;
        top:50%;
        @include translateY(-50%);
        .pull-left{
          width:100%;
        }
      }
      .breadcrumb{
        display: none;
      }
      .bread-title{
        color:#fff;
        font-weight: 600;
        font-size: 20px;
        @media(min-width: 1200px){
          font-size: 30px;
        }
      }
    }
}
// saerch
.ui-autocomplete.ui-widget-content{
    padding: 15px;
    margin: 0;
    list-style: none;
    width: 293px !important;
    background: #fff;
    li{
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid $border-color;
        &:last-child{
            border: none;
            margin: 0;
            padding: 0;
        }
        img{
            width: 60px;
        }
    }
}
.main-content {
    display: block;
    .apus-grid-layout{
      padding: 0;
    }
}
@media(min-width:1200px){
  .content-space{
    padding-top:30px;
    padding-bottom:30px;
  }
}
@media (min-width:992px) and (max-width:1199px){
  .content-space{
    &.top-padding-30{
      padding-top:30px;
    }
  }
}
.bg-dark{
    background: #272727;
    color: #fff;
}
.text-purple {
  color: #6c58bd !important;
}
.text-red {
  color: #c32322 !important;
}
.text-red-1{
  color: #ff0000!important;
}
.text-orange {
    color: #f66000 !important;
}
.text-yellow {
    color: #e2d951 !important;
}
.text-black {
  color:#000!important;
}
.text-white, .text-light{
    color:#FFFFFF!important;
}
.text-darker {
    color:#333!important;
}
.text-uppercase{
text-transform: uppercase;
}
/*Radius
------------------------------------*/
.radius-0 {
    border-radius: 0 !important;
}

.radius-x {
    border-radius: 50% !important;
}

.radius-1x {
    border-radius: 10px !important;
}

.radius-2x {
    border-radius: 20px !important;
}

.radius-3x {
    border-radius: 30px !important;
}

.radius-4x {
    border-radius: 40px !important;
}

.radius-5x {
    border-radius: 5px !important;
}

.radius-6x {
    border-radius: 3px !important;
}
.radius-50x {
    border-radius: 50px !important;
}
.carousel-md {

    @include size($bo-carousel-md-width, $bo-carousel-md-height);
     line-height: $bo-carousel-md-height;
}
.carousel-sm {
    @include size($bo-carousel-sm-width, $bo-carousel-sm-height);
     line-height: $bo-carousel-sm-height;
     font-size: 14px;
}
.carousel-xs {
    @include size($bo-carousel-xs-width, $bo-carousel-xs-height);
     line-height: $bo-carousel-xs-height;
     font-size: 14px;
}
//back to top
#back-to-top{
    position: fixed;
    z-index: 99;
    bottom: 45px;
    @include rtl-right(45px);
    @media(max-width:768px){
      bottom:0;
      @include rtl-right(0px);
    }
    @include border-radius(50%);
    @include size(50px,50px);
    line-height: 46px;
    text-align: center;
    border:2px solid #656565;
    font-size: 20px;
    display: inline-block;
    background: transparent;
    color: #656565;
    @include opacity(0);
    @include transition(all 0.2s ease-in-out 0s);
    &:active,
    &:hover{
        color: #fff;
        background: $theme-color;
        border-color: $theme-color;
    }
    &.active{
      @include opacity(1);
    }
}
.menu{
  padding:0;
  margin:0;
  list-style:none;
}
.list-circle{
  text-align:center;
  margin:0 0 8px;
  li{
    margin:0 15px;
    display:inline-block;
    position:relative;
    float:none;
    &:before{
      content:'';
      @include size(7px,7px);
      background:$text-color;
      @include border-radius(50%);
      @include transition(all 0.2s ease-in-out 0s);
      position:absolute;
      top:50%;
      @include translateY(-50%);
      @include rtl-right(calc(100% + 8px));
    }
  }
}
// loading
.apus-body-loading {
  overflow: hidden;
}
@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
@keyframes -webkit-spin {
  0% {
      -webkit-transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
  }
}
.apus-page-loading{
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99991;
  background-color:#fff;
  .loading-image{
    display: block;
    height: 100px;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    position: relative;
    top: 50%;
    width: 100px;
    z-index: 1001;
    position:relative;
    background-position: center center;
    background-repeat: no-repeat;
  }
  #loader{
    animation: 2s linear 0s normal none infinite running spin;
    -webkit-animation: 2s linear 0s normal none infinite running spin;
    -ms-animation: 2s linear 0s normal none infinite running spin;
    border-color: $theme-color transparent transparent;
    border-image: none;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    display: block;
    height: 100px;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    position: relative;
    top: 50%;
    width: 100px;
    z-index: 1001;
    &:before{
      animation: 3s linear 0s normal none infinite running spin;
      -webkit-animation: 3s linear 0s normal none infinite running spin;
      -ms-animation: 3s linear 0s normal none infinite running spin;
      border-color: $theme-color transparent transparent;
      border-image: none;
      border-radius: 50%;
      border-style: solid;
      border-width: 3px;
      bottom: 5px;
      content: "";
      left: 5px;
      position: absolute;
      right: 5px;
      top: 5px;
    }
    &:after{
      animation: 1.5s linear 0s normal none infinite running spin;
      -webkit-animation: 1.5s linear 0s normal none infinite running spin;
      -ms-animation: 1.5s linear 0s normal none infinite running spin;
      border-color: $theme-color transparent transparent;
      border-image: none;
      border-radius: 50%;
      border-style: solid;
      border-width: 3px;
      bottom: 15px;
      content: "";
      left: 15px;
      position: absolute;
      right: 15px;
      top: 15px;
    }
  }
  .loader-section{
    background: #f5f5f5 none repeat scroll 0 0;
    height: 100%;
    position: fixed;
    top: 0;
    transform: translateX(0px);
    width: 51%;
    z-index: 1000;
    &.section-left{
       left: 0;
    }
    &.section-right{
      right:0;
    }
  }
}
// tab version
.tab-v1{
  .tabs-list{
    border:none;
    text-align: center;
    padding:30px 0 50px;
    li{
      padding: 0 22px;
      margin: 0;
      display: inline-block;
       float: none;
      a{
        padding:5px 0;
        color: #777777;
        border-width:0 0 1px !important;
        border-color:  #cccccc;
        border-style: dashed;
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
        background: transparent;
      }
      &.active,
      &:hover{
        > a:active,
        > a:focus,
        > a{
          border-color: transparent;
          color: $theme-color;
          background: transparent;
        }
      }
    }
  }
  &.style1{
    .tabs-list{
      padding: 10px 0 70px;
      @include rtl-text-align-right();
      li{
        &.active,
        &:hover{
          @include box-shadow(0 5px 5px 0 rgba(0, 0, 0, 0.1));
          > a:active,
          > a:focus,
          > a{
            color: $link-color;
          }
        }
      }
    }
  }
  @media(min-width:992px){
    &.style1{
      padding:0 70px;
    }
  }
}
// pagination 
.page-links{
  overflow: hidden;
  margin:($theme-margin / 2) 0;
  text-align:center;
  .page-links-title{
    font-weight: 700;
    color: $headings-color;
  }
  > span:not(.page-links-title),
  > a{
    display: inline-block;
    line-height: 1;
    margin: 0 5px;
    @include border-radius(2px);
    padding: 10px 14px;
    border:1px solid $border-color;
    &:hover,&:active{
      color: #fff;
      background: $theme-color;
      border-color: $theme-color;
    }
  }
  > span:not(.page-links-title){
    color: #fff;
    background: $theme-color;
    border-color: $theme-color;
  }
}
option {
    padding: 5px;
}
@media(min-width:992px){
  .space-padding-left-30{
    padding-left: 30px !important;
  }
}
// account
.woocommerce-MyAccount-navigation{
  > ul{
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 35px;
  }
}
// overide of compare
#cboxWrapper{
    #cboxMiddleLeft,
    #cboxMiddleRight,
    #cboxTopLeft,
    #cboxTopCenter,
    #cboxTopRight,
    #cboxBottomLeft,
    #cboxBottomCenter,
    #cboxBottomRight{
        display: none;
    }
    #cboxContent{
      position: relative;
      #cboxClose{
        position: absolute;
        top:0;
        @include rtl-right(0);
        padding: 5px;
        color: #fff;
        background: $brand-danger;
        text-transform: uppercase;
        @include size(80px,60px);
        text-indent:0;
        &:hover,&:active{
          background: darken($brand-danger,5%);
        }
      }
    }
}
// stars
.rating-wrapper{
  position: relative;
  white-space:nowrap;
  margin:0 0 30px;
  .review-label{
    color: rgba($text-color,0.8);
    img{
      @include rtl-margin-right(5px);
    }
  }
  .review-stars{
    font-size: 14px;
  }
  .subtitle{
    display: inline-block;
    vertical-align: middle;
    min-width: 85px;
    color: $text-color;
  }
  label {
    display: none;
  }
  ul{
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    height: 19px;
    line-height: 19px;
    list-style: outside none none;
    overflow: hidden;
    cursor: pointer;
    @include rtl-margin-right(30px);
    li{
      display: inline-block;
      float: none;
      height: 19px;
    }
  }
}
.rating-inner{
  margin-bottom: 5px;
  height: 27px;
  &:last-child{
    margin-bottom: 0;
  }
  .active{
    color: #ffc924;
  }
}
$colors-list: #c6f700 #ffc924 #999f00 #ff4633 #f60031;
@each $current-color in $colors-list {
    $i: index($colors-list, $current-color);
    .rating-inner:nth-child(#{$i}) .active{ 
        color: $current-color;
    }
}
$list-color: #002e5b #e43995 #999f00 #ff4633 #f60031;
@each $current-color in $list-color {
    $i: index($list-color, $current-color);
    #job_type_selection .job_types li:nth-child(#{$i}) .type__btn{ 
        background-color: $current-color;
    }
}
.review-stars-rated{
  label {
    display: none;
  }
  height: 16px;
  line-height: 16px;
  position: relative;
  width: 77px;
  white-space:nowrap;
  margin: 0 !important;
  ul{
    padding: 0;
    margin: 0;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    list-style: outside none none;
    overflow: hidden;
    font-size: 13px;
    color: #c0c0c0;
    cursor: pointer;
    li{
      display: inline-block;
      float: none;
      height: 16px;
      width: 13px;
    }
    + ul{
      @include rtl-left(0);
      overflow: hidden;
      position: absolute;
      top: 0;
      white-space: nowrap;
      z-index: 10;
      color: #fde428;
    }
  }
}
// rating and commment
#reviews{
    .yourview{
      > *{
        display: inline-block;
        vertical-align: middle;
        + *{
          @include rtl-margin-left(15px);
        }
      }
      span{
        color: $theme-color-second;
      }
    }
    #comments{
        margin: 0 0 30px;
    }
    .commentlist{
        padding: 0;
    }
  .reviews-summary {
    .review-summary-total{
      text-align: center;
      font-weight: 400;
      .review-summary-result {
        @include size(70px, 70px);
        text-align: center;
        border: 2px solid $theme-color;
        color: $theme-color;
        line-height: 66px;
        font-size: 20px;
        @include border-radius(50%);
        margin-bottom: 8px;
      }
    }
    .review-summary-detal {
      overflow: hidden;
      display: block;
      .review-label{
        color: $black;
        font-weight: 400;
      }
    }
  }
  .comments{
    padding: $theme-padding 0;
    .commentlist {
      margin: 15px 0;
      .comment {
        margin-bottom: 30px;
      }
      .comment-image {
        min-width: 100px;
        @include rtl-margin-right(20px);
        > span {
          display:  block;
          margin-bottom: 5px;
        }
        .avatar {
          @include border-radius(50%);
        }
        .author {
          color: $black;
        }
      }
      .comment-text {
        border: 1px solid $border-color;
        padding:  15px 30px;
        @include border-radius( 3px);
        > div {
          margin-bottom: 7px;
        }
      }
    }
  }
  .review_form_wrapper {    
    border-top: 1px solid $border-color;
  }
  .comment-reply-title{
    font-size: 18px;
    margin: 0 0 20px !important;
    font-weight: 400;
  }
}
.rtl{
  .dropdown-menu{
    text-align: right;
  }
  .media-left, .media > .pull-left{
    padding-right: 0;
    padding-left: 15px;
  }
  // menu
  .megamenu .dropdown-menu .dropdown-menu{
    left: inherit;
    right:100%;
  }
  .megamenu .dropdown-menu li > a b{
    @include rotate(90deg);
  }
  // fix listing archive
  @media (max-width: 1199px){
    .apus-half-map-layout-v1 .wrapper-filters1{
      @include translateX(100%);
    }
  }
  .apus-grid-layout.only_main .wrapper-filters1{
    @include translateX(100%);
  }
  @media(max-width: 991px){
    .apus-grid-layout.has-sidebar .wrapper-filters1{
      @include translateX(100%);
    }
  }
  div.job-list-style .listing-logo{
    left: inherit;
    right:100%;
    @include translateX(50%);
  }
}
.apus-register-form.loading,
.apus-login-form.loading{
  .clear-submit{
    position:relative;
    &:before{
      content: '';
      position: absolute;
      z-index: 10;
      top:0;
      left: 0;
      @include size(100%,100%);
      background:rgba(255,255,255,0.95) url('#{$image-theme-path}loading.gif') no-repeat center center;
      background-size:24px;
    }
  }
}
// social login
.social-connect{
  list-style: none;
  margin:0;
  padding:0;
  li{
    display: inline-block;
    + li{
      @include rtl-margin-left(10px);
    }
  }
  .btn-social{
    border:2px solid $theme-color;
    color: $theme-color;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    @include border-radius(5px);
    padding:9px 14px;
    min-width: 136px;
    i{
      font-size: 18px;
      vertical-align: sub;
      @include rtl-margin-right(5px);
    }
    &:hover,&:active{
      color: #fff;
      background: $theme-color;
      border-color:$theme-color;
    }
  }
  .btn-facebook{
    border-color:#3c599f;
    color: #3c599f;
    :hover,&:active{
      color: #fff;
      background: #3c599f;
      border-color:#3c599f;
    }
  }
  .btn-twitter{
    border-color:#32ccfe;
    color: #32ccfe;
    &:hover,&:active{
      color: #fff;
      background: #32ccfe;
      border-color:#32ccfe;
    }
  }
  .btn-google{
    border-color:#dd4c39;
    color: #dd4c39;
    &:hover,&:active{
      color: #fff;
      background: #dd4c39;
      border-color:#dd4c39;
    }
  }
}
.form-login-register-inner{
  padding:30px;
  @media(min-width:1200px){
    padding: 40px;
  }
  h3{
    margin-top: 0;
  }
  .forgotpassword-form{
    h3{
      font-size: 20px;
    }
  }
  .list-roles{
    justify-content: center;
    -webkit-justify-content: center; /* Safari 6.1+ */
    .role-wrapper{
      margin:0 8px;
      font-weight: 700;
      color: $link-color;
      label{
        font-family: $font-family-second;
        font-weight: 700;
        cursor: pointer;
      }
    }
    input:checked{
      + label{
        color: $theme-color;
      }
    }
  }
  .form-register,
  .form-acount{
    label{
      font-weight: 400;
    }
    .form-control{
      @include transition(all 0.2s ease-in-out 0s);
      &:focus{
        border-color:darken($border-color,15%);
      }
    }
    .mfp-close{
      @include opacity(1);
      @include border-radius(50%);
      @include translate(50%,-50%);
      padding:0;
      @include size(40px,40px);
      line-height: 40px;
      text-align: center;
      background:$red;
      color: #fff;
    }
    .terms-condition{
      margin: 10px 0 0;
    }
  }
  // effect when switch
  .tab-pane{
    @include transition(all 0.3s ease-in-out 0s);
    @include scale(0.8);
    &.in{
      @include scale(1);
    }
  }
}
.apus-mfp-zoom-in{
  .mfp-content{
    max-width: 85%;
  }
  .rating-wrapper{
    margin-bottom: 0;
  }
  .edit-review-form-wrapper{
    background:#fff;
    max-width: 500px;
    margin: auto;
    @include border-radius(5px);
    padding:$theme-margin / 2;
    @media(min-width: 1200px){
      padding:$theme-margin;
    }
    textarea.form-control.style2{
      border:1px solid darken($border-color, 5%);
      padding:15px;
      margin-bottom: 20px;
      @include border-radius($border-radius-base);
    }
    .btn-edit-review{
      @media(min-width: 1200px){
        min-width: 150px;
      }
    }
  }
  .edit-review-form{
    position:relative;
    &.loading{
      &:before{
        content: '';
        position: absolute;
        z-index: 999;
        top:0;
        left: 0;
        width: 100%;
        display: block;
        height: 100%;
        background:rgba(255,255,255,0.9) url('#{$image-theme-path}loading.gif') no-repeat center center / 30px auto;
      }
    }
  }
}
.apus_login_register_form{
  max-width: 450px;
  @include border-radius(7px);
  margin: auto;
  background:#fff;
  position:relative;
  .mfp-close{
    @include size(30px,30px);
    line-height:30px;
    background:#fb3640;
    color:#fff;
    border:none;
    font-size:20px;
    @include border-radius(3px);
    @include translate(15px,-15px);
    @include transition(all 0.2s ease-in-out 0s);
    @include opacity(1);
    &:hover,&:active{
      color:#fff;
      background:darken(#fb3640, 5%);
    }
  }
  .hr{
    padding:5px 0 20px 0;
    border:none;
    font-weight:900;
    font-size: 12px;
    text-transform: uppercase;
  }
  .bottom-login {
    margin-top: 25px;
  }
  .title-account{
    text-align: center;
    font-size: 22px;
    margin: 0 0 20px;
  }
  input[type="radio"], input[type="checkbox"]{
    @include rtl-margin-right(5px);
  }
  .action-login{
    padding:5px 0;
  }
  .nav-tabs{
    border:none;
    > li{
      display: block;
      @include rtl-float-left();
      margin:0 !important;
      width: 100%;
      text-align:center;
      > a{
        background:#fff;
        border:none !important;
        margin: 0 !important;
        font-family: $font-family-second;
        font-weight: 400;
        font-size: 16px;
        text-transform: capitalize;
        padding:0 15px;
        display: block;
        @include transition(all 0.2s ease-in-out 0s);
        text-decoration:underline;
      }
      &.active{
        display: none;
      }
    }
  }
}
.apus-report-comment-form{
  .description{
    margin-bottom: 10px;
  }
  textarea {
    resize: none;
    height: 200px;
    width: 100%;
  }
}
.user-account{
  li{
    padding:0;
    .space{
      padding:0 2px;
    }
  }
}
.ui-datepicker{
  background-color:#fff;
}
.icon-add{
  display:inline-block;
  @include size(14px,14px);
  position:relative;
  @include rtl-margin-right(10px);
  &:before,
  &:after{
    background:#fff;
    content:'';
    position:absolute;
  }
  &:before{
    @include size(100%,1px);
    top:50%;
    left:0;
    @include translateY(-50%);
  }
  &:after{
    @include size(1px,100%);
    top:0;
    left:50%;
    @include translateX(-50%);
  }
}
.fa-minus-theme,
.fa-plus-theme{
  @include size(14px,14px);
  display:inline-block;
  position:relative;
  &:before{
    content:'';
    position:absolute;
    background:$link-color;
    @include size(100%,1px);
    top:50%;
    left:0;
    @include translateY(-50%);
  }
  &:after{
    content:'';
    position:absolute;
    background:$link-color;
    @include size(1px,100%);
    top:0;
    left:50%;
    @include translateX(-50%);
  }
}
.fa-minus-theme{
  &:after{
    display:none;
  }
}
.form-control.style2{
  background:transparent;
  margin-bottom:10px;
  height: 50px;
  padding:0 0 10px 0;
  border-width:0 0 1px;
  color: $text-second;
  @include box-shadow(none !important);
  @include border-radius(0);
  @include transition(all 0.25s ease-in-out 0s);
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $text-second;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $text-second;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $text-second;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $text-second;
  }
}
textarea.form-control.style2{
  resize:none;
  height: 130px;
  margin-bottom: 20px;
  @media(min-width: 1200px){
    margin-bottom: 30px;
  }
}