.navbar.apus-megamenu{
	border:none;
	@include border-radius(0);
	min-height:0;
	margin:0;
}
.megamenu{
	padding:0;
	float: none;
	.menu-item-description{
		font-size:12px; 
		text-transform: capitalize;
	}
	> li{
		display: inline-block;
		padding:0;
		margin: 0;
		vertical-align: top;
		float: none;
		@include rtl-margin-right(5px);
		&:last-child{
			@include rtl-margin-right(0px);
		}
		> a{
			display: inline-block;
			font-size: 16px;
    		font-weight:normal;
		    padding:10px 15px;
		    @media(min-width: 1200px){
		    	padding:12px 25px;
		    }
		    text-transform: capitalize;
		    background: transparent;
		    font-family:$font-family-second;
		    @include transition(color 0.2s ease-in-out 0s, background 0.2s ease-in-out 0s);
		    position:relative;
		    @include border-radius(7px);
		    &:after{
	        	content:'';
	        	position:absolute;
	        	top:100%;
	        	left: 0;
	        	@include size(100%,10px);
	        	background:transparent;
	        }
		    .fa,img{
		    	max-width: 50px;
		    	@include rtl-margin-left(3px);
		    }
		    &:hover,
		    &:active,
		    &:focus{
		    	color: #fff !important;
				background:$theme-color;
		    }
		}
		> .dropdown-menu{
			@media(min-width: 1200px){
				min-width: 250px !important;
			}
		}
		&:hover,
		&.active{
			> a{
				color: #fff !important;
				background:$theme-color;
			}
		}
		&.aligned-left{
			.dropdown-menu:before{
				left:25px;
			}
		}
		&.aligned-right{
			> .dropdown-menu{
				left: auto;
				right: 0;
				&:before{
					right:25px;
				}
			}
		}
	}
	.aligned-fullwidth{
		> .dropdown-menu{
			padding:50px $theme-margin $theme-margin;
		}
	}
	.dropdown-menu{
		&:before{
            content:'';
            position:absolute;
            bottom:100%;
            border-width:10px;
            border-style:solid;
            border-color:transparent transparent #fff;
        }
		.text-label{
			font-size: 12px;
			vertical-align: super;
			@include rtl-margin-left(5px);
			color: $theme-color;
			font-family: $headings-font-family;
			&.label-hot{
				color: $brand-danger;
			}
			&.label-new{
				color: $brand-success;
			}			
		}
		.current-menu-item > a{
			color: #fff;
		}
		li{
			> a{
				background: transparent !important;
				position: relative;
				font-size: 15px;
				color: $link-color;
				padding:12px 0;
				width: 100%;
				display: inline-block;
				@include transition(all 0.2s ease-in-out 0s);
				border-bottom:1px solid $border-color;
				&:hover,
				&:active{
					color: $theme-color;
				}
				b{
					position:absolute;
					top:5px;
					@include rtl-right(10px);
					@include rotate(-90deg);
				}
			}
			&.current-menu-item,
			&.open ,
			&.active{
				> a{
					color: $theme-color;
				}
			}
			&:first-child{
				> a{
					padding-top:0;
					> b{
						top:6px;
					}
				}
			}
			&:last-child{
				> a{
					padding-bottom:0;
					border:none;
					> b{
						top:17px;
					}
				}
			}
		}
		.widget-title,
		.widgettitle{
			margin: 0 0 10px;
			font-size: 18px;
			padding:0;
			@include rtl-text-align-left();
			&:before,&:after{
				display: none;
			}
		}
		.dropdown-menu{
			visibility:hidden;
			@include opacity(0);
			@include transform-origin(0,0);
			@include transition(all 0.2s ease-in-out 0s);
			@include rotateX(-90deg);
			@include border-radius(3px);
			@include box-shadow(0 0 18px 0 rgba(0,0,0,0.1));
			padding:20px $theme-margin;
			border:none;
			position: absolute;
			display: block;
			left: 100%;
			top:-20px;
			background: #fff;
			min-width: 200px;
			margin:0;
			&:before{
				display: none;
			}
		}
		li{
			&:hover{
				> .dropdown-menu{
					visibility:visible;
			        @include opacity(1);
			        @include rotateX(0deg);
				}
			}
		}
	}
	.apus-container{
		padding-right:$theme-margin / 2;
		padding-left:$theme-margin / 2;
		width: 100%;
	}
	li.aligned-fullwidth{
		position: static;
		> a:after{
			height: 25px;
		}
		> .dropdown-menu{
			&:before{
				display: none;
			}
			width: 100%;
			left:0px !important;
		}
		.elementor-section > .elementor-container{
			max-width: 100%;
		}
	}
	> li > a > .text-label{
		font-size: 11px;
		padding: 0px 5px;
		background: $brand-info;
		color: #fff;
		position:absolute;
		@include rtl-right(-15px);
		top:-10px;
		line-height: 2;
		display: inline-block;
		text-transform: capitalize;
		@include border-radius(2px);
		&.label-hot{
			background: $brand-danger;
			&:before{
				border-color: $brand-danger transparent transparent $brand-danger;
			}
		}
		&.label-new{
			background: $brand-success;
			&:before{
				border-color: $brand-success transparent transparent $brand-success;
			}
		}
		&:before{
			content: '';
			position: absolute;
			z-index: 9;
			top: 100%;
			@include rtl-left(7px);
			border-width: 3px;
			border-style:solid;
			border-color: $brand-info transparent transparent $brand-info;
		}
	}
}
// effect
.megamenu.effect1{
	> li{
		> .dropdown-menu{
			display: block;
			min-width: 200px;
			background:#fff;
			visibility:hidden;
			@include opacity(0);
			@include transform-origin(0,0);
			@include transition(all 0.2s ease-in-out 0s);
			@include rotateX(-90deg);
			@include border-radius(7px);
			@include box-shadow(0 0 18px 0 rgba(0,0,0,0.1));
			padding:20px $theme-margin;
			border:none;
			position: absolute;
			top:calc(100% + 10px);
			left: 0;
		}
		&:hover{
			> .dropdown-menu{
				visibility:visible;
		        @include opacity(1);
		        @include rotateX(0deg);
			}
		}
	}
}
.megamenu.effect2{
	> li{
		> .dropdown-menu{
			display: block;
			min-width: 200px;
			background:#fff;
			visibility:hidden;
			@include opacity(0);
			@include transform-origin(0,0);
			@include transition(all 0.2s ease-in-out 0s);
			@include rotateX(-90deg);
			@include border-radius(7px);
			@include box-shadow(0 0 18px 0 rgba(0,0,0,0.1));
			padding:20px $theme-margin;
			border:none;
			position: absolute;
			top:calc(100% + 10px);
			left: 0;
			@include loop-delay('li');
			margin-top: 10px;
			> li{
				@include transition(all 0.2s ease-in-out 0s);
				@include opacity(0);
				@include translateY(5px);
			}
		}
		&:hover{
			> .dropdown-menu{
				margin-top: 0;
				visibility:visible;
		        @include opacity(1);
		        @include rotateX(0deg);
		        > li{
	        		@include opacity(1);
					@include translateY(0px);
		        }
			}
		}
	}
}

.megamenu.effect3{
	> li{
		> .dropdown-menu{
			display: block;
			min-width: 200px;
			background:#fff;
			visibility:hidden;
			@include opacity(0);
			@include border-radius(7px);
			@include transition(all 0.3s ease-in-out 0s);
			@include box-shadow(0 0 18px 0 rgba(0,0,0,0.1));
			padding:20px $theme-margin;
			border:none;
			position: absolute;
			top:calc(100% + 10px);
			left: 0;
			-webkit-animation: fadeleft 0.3s ease-in-out 0s;
    		animation: fadeleft 0.3s ease-in-out 0s;
		}
		&:hover{
			> .dropdown-menu{
				@include opacity(1);
				visibility:visible;
		        -webkit-animation: faderight 0.3s ease-in-out 0s;
    			animation: faderight 0.3s ease-in-out 0s;
			}
		}
	}
}
.mobile-vertical-menu{
	.navbar-nav li{
		border-bottom:1px dashed $border-color;
		&:last-child{
			border-bottom:0;
		}
		> a{
			padding:5px 0;
		}
	}
	.text-label{
		font-size: 12px;
		vertical-align: super;
		@include rtl-margin-left(5px);
		color: $theme-color;
		font-family: $headings-font-family;
		&.label-hot{
			color: $brand-danger;
		}
		&.label-new{
			color: $brand-success;
		}			
	}
}
// mobile menu
.main-mobile-menu{
	.has-submenu{
		> .sub-menu{
			@include rtl-padding-left($theme-margin);
			list-style: none;
			display: none;
			li{
				> .icon-toggle{
					top:8px;
				}
				a{
					font-size:14px;
					padding:2px 0;
				}
			}
		}
	}
	.widget .widget-title, .widget .widgettitle, .widget .widget-heading{
		margin:0 0 10px;
		font-size:16px;
		padding:0 0 8px;
		text-align:inherit;
	}
	.sub-menu{
		max-width:100%;
	}
	.shop-list-small{
		margin-bottom:10px;
	}
	.text-label{
	    font-size: 12px;
	    vertical-align: super;
	    @include rtl-margin-left(5px);
	    color: $theme-color;
	    font-family: $headings-font-family;
	    &.label-hot{
	      color: $brand-danger;
	    }
	    &.label-new{
	      color: $brand-success;
	    }     
	}
}
.menu-setting-menu-container{
	.apus-menu-top {
		margin:0;
		padding:0;
		list-style: none;
		line-height: 2;
		li a{
			padding:0 15px;
			width:100%;
		}
		ul{
			@include rtl-padding-left($theme-margin / 2);
		}
	}
}
// top menu
.wrapper-topmenu{
	.dropdown-menu{
		@include border-radius(0);
	}
}
.topmenu-menu{
	font-size:15px;
	width:100%;
    list-style:none;
    padding:0;
    margin:0;
    i{
        @include rtl-margin-right(7px);
    }
	> li{
		float: none;
		white-space: nowrap;
		> a{
			background:transparent !important;
			padding:0;
		}
		&.active{
			> a{
				color:$theme-color;
			}
		}
	}
}
// overide css mobile menu
.mm-menu{
	background:#fff !important;
	.mm-listview .mm-next::before{
		border:none;
	}
	.mm-listview > li .mm-next{
		&:hover,&:active{
			&:after{
				border-color:#000;
			}
		}
	}
	.mm-listview > li > a, .mm-listview > li > span{
		color: #000;
		.text-label{
			font-size: 11px;
			padding: 0px 5px;
			background: $brand-info;
			color: #fff;
			position:absolute;
			@include rtl-right(50px);
			top:0;
			line-height: 2;
			display: inline-block;
			text-transform: capitalize;
			@include border-radius(2px);
			&.label-hot{
				background: $brand-danger;
				&:before{
					border-color: $brand-danger transparent transparent $brand-danger;
				}
			}
			&.label-new{
				background: $brand-success;
				&:before{
					border-color: $brand-success transparent transparent $brand-success;
				}
			}
			&:before{
				content: '';
				position: absolute;
				z-index: 9;
				top: 100%;
				@include rtl-left(7px);
				border-width: 3px;
				border-style:solid;
				border-color: $brand-info transparent transparent $brand-info;
			}
		}
	}
	.mm-listview{
		.menu-item-description{
			font-size: 10px;
		}
	}
	.mm-title{
		color: #000  !important;
		font-size: 18px;
	}
	// widget in menu
	.wpb_column{
		width: 100%;
	}
	.widget .widget-title, .widget .widgettitle, .widget .widget-heading{
		border:none;
		padding:0;
		margin-bottom:10px; 
		&:before{
			display:none;
		}
	}
}
html .mm-menu ~ .mm-slideout{
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		@include size(100%,100%);
		background: rgba(0,0,0,0.25);
		z-index: -100;
		@include opacity(0);
		@include transition(all 0.2s ease-in-out 0s);
	}
}
html.mm-opening .mm-menu ~ .mm-slideout:before{
	z-index: 100;
	@include opacity(1);
	cursor:not-allowed;
}
html.mm-opened{
	position: static !important;
}
//top-menu
.top-menu{
	> li > a{
		padding:0 15px;
		text-transform: capitalize;
	}
}
.mm-menu.mm-offcanvas{
	z-index: 999 !important;
	// social
	.social-top{
		&:after{
			display: none;
		}
		a{
			display: inline-block;
			font-size: 16px;
			&:hover,&:active{
				color: $theme-color;
			}
		}
	}
	.widget{
		margin:0;
	}
	.topbar-right-wrapper{
		padding:10px;
		> *{
			margin-bottom: 15px;
			&:last-child{
				margin:0;
			}
		}
		&:after{
			display: none;
		}
	}
	.woocommerce-currency-switcher-form ul.dd-options{
		margin-top: 0;
	}
}
.mm-menu.mm-offcanvas{
	@include transition(all 0.4s ease 0s);
	@include translateX(-100%);
}
.mm-menu.mm-offcanvas.mm-opened{
	@include translateX(0);
}
// vertical menu
.header-mobile{
	.mobile-vertical-menu-title{
		font-size: 18px;
		cursor: pointer;
		margin:0;
		padding:5px 0;
		@include transition(all 0.3s ease-in-out 0s);
		i{
			font-size: 24px;
		}
		&:hover,
		&.active{
			color: $theme-color;
		}
	}
	.apus-search-form .btn{
		padding:5px 13px;
		height: 42px;
	}
	.apus-search-form form .form-control{
		height: 42px;
	}
}
.mobile-vertical-menu{
	.navbar-offcanvas .navbar-nav li > a{
		font-weight: 400;
		i{
			@include rtl-margin-right(5px);
			min-width: 20px;
		}
	}
	.navbar-offcanvas .navbar-nav li{
		.fa-minus{
			color: $theme-color;
		}
		.sub-menu{
			max-width: 100%;
			display: none;
			padding:0 15px;
		}
		.widget .widgettitle,
		.widget .widget-title{
			padding:0;
			border:none;
			margin:0 0 10px;
			font-size: 16px;
			&:before,&:after{
				display: none;
			}
		}
		.dropdown-menu-inner{
			@include rtl-padding-left(20px);
		}
		.menu{
			li{
				a{
					padding:0;
					font-size: 14px;
				}
			}
		}
	}
	.widget{
		margin-bottom: 10px;
	}
}
.dark-menu-sidebar{
	background:#fff;
	color:$text-color;
	padding:40px;
	min-height:100vh;
	font-size:15px;
	@include box-shadow(0 5px 10px 0 rgba(#283436,0.2));
	a{
		color:$text-color;
		&:hover,&:focus{
			color:$theme-color;
		}
	}
	.top-wrapper-menu .inner-top-menu{
		a{
			color:$link-color;
			&:hover,&:focus{
				color:$theme-color;
			}
		}
	}
	.navbar-collapse{
		padding:0;
	}
	.navbar-offcanvas .navbar-nav > li > a{
		padding:12px 0;
	}
	.navbar-offcanvas .navbar-nav li {
		.icon-toggle{
			top:15px;
		}
		&:hover,&.active{
			> .icon-toggle,
			> a{
				color:$theme-color;
			}
		}
	}
	.sidebar-center{
		margin-top:60px;
	}
	.wishlist-sidebar > a,
	.login-topbar > a{
		font-size:14px;
		display:block;
		margin-bottom:10px;
	}
	.wishlist-sidebar > a,
	.wrapper-account{
		i{
			@include rtl-margin-right(15px);
		}
	}
	.wrapper-topmenu{
		margin-bottom:8px;
		.dropdown-menu{
			padding:10px;
			margin-top:0;
			a{
				color:#999999;
				&:hover,&:focus{
					color:$theme-color;
				}
			}
			.active{
				> a{
					color:$theme-color;
				}
			}
		}
		&:hover{
			.dropdown-menu{
				display: block;
			}
		}
	}
	.top-wrapper-menu .inner-top-menu,
    .top-wrapper-menu .header_customer_login{
        right:inherit;
        left:0;
    }
}
// my-profile
.my-profile{
	float:none;
	margin:0;
	list-style:none;
	padding:0;
	font-size: 14px;
	> li{
		float: none;
		padding:0;
		margin:0;
		i{
			@include rtl-margin-right(10px);
			vertical-align: sub;
		}
		a{
			display: inline-block;
			width:100%;
			color: #4a4a4a;
			padding:10px 20px;
			@include border-radius(3px);
			&:hover{
				background:#fff;
				color: $theme-color;
			}
		}
		&.active{
			> a{
				color: #fff;
				background-color:$theme-color;
			}
		}
	}
}