/*-------------------------------------------
    Price
-------------------------------------------*/
// style overide woo
.woocommerce #respond input#submit.added:after, 
.woocommerce a.button.added:after, 
.woocommerce button.button.added:after, 
.woocommerce input.button.added:after{
    display: none;
}
// loading
.woocommerce #respond input#submit.loading:after, 
.woocommerce a.button.loading:after, 
.woocommerce button.button.loading:after, 
.woocommerce input.button.loading:after{
    top:18px !important;
    right: 0;
    left: 0;
    margin: auto;
}
.woocommerce .cart-collaterals .cross-sells, .woocommerce-page .cart-collaterals .cross-sells,
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals{
    width: 100%;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button{
    background:$theme-color;
    border-color:$theme-color;
    color:#fff;
    padding:17px 25px;
    @include border-radius(50px);
    font-weight:700;
    text-transform:capitalize;
    font-family: $font-family-second;
    &:hover,&:active{
        color:#fff;
        background:darken($theme-color,5%);
        border-color:darken($theme-color,5%);
    }
}
.price{
    del{
        @include rtl-margin-right(3px);
    }
}
.woocommerce #respond input#submit{
    @media(min-width: 1200px){
        padding-right:80px;
        padding-left:80px;
        font-size:16px;
    }
}
.woocommerce table.shop_attributes td p{
    padding: 8px;
}
.yith-wcwl-add-to-bookmark .ajax-loading{
    margin: auto;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}
.yith-wcwl-add-button{
    position: relative;
}
.woocommerce div.product .product_title{
    font-size: 20px;
    font-weight: 400;
    margin:0;
}
.woocommerce-info{
    background: #fff;
}
.woocommerce-checkout{
    .woo-pay-perfect{
        text-align:center;
        font-weight:700;
        font-size:20px;
        margin:0 0 40px;
    }
    .order-review{
        color: #fff;
        h3{
            font-weight: 400;
            color:#fff;
            font-size: 20px;
            margin: 0 0 20px;
        }
        a{
            color:#fff;
            &:hover,&:active{
                color:#fff;
                text-decoration:underline;
            }
        }
        table.shop_table{
            padding:0px;
            @include box-shadow(none);
            border:none;
            th{
                padding:12px 0;
                font-size:15px;
                font-weight:500;
                border:none;
                color: #fff;
            }
            td{
                padding:6px 0;
                font-size: 13px;
                color: #fff;
                border:none;
            }
            tr{
                border:none;
            }
            .order-total{
                .woocommerce-Price-amount{
                    font-size:18px;
                    font-weight:400;
                }
            }
            tfoot{
                tr{
                    .woocommerce-Price-amount{
                        font-size:18px;
                        font-weight:400;
                    }
                    td:last-child{
                        @include rtl-text-align-right();
                    }
                }
            }
        }
        #payment div.payment_box{
            color:#fff;
            font-size:$font-size-base;
            padding:0;
            margin:0 0 15px;
        }
        .wc_payment_methods{
            label{
                font-size: 18px;
                font-weight: 400;
            }
            input[type="radio"], input[type="checkbox"]{
                @include rtl-margin-right(5px !important);
            }
            .payment_method_paypal{
                .about_paypal,
                img{
                    display: none;
                }
            }
        }
    }
    .details-check{
        overflow: hidden;
        margin: 0;
        .woocommerce-shipping-fields{
            margin: 30px 0 0;
        }
        table.shop_table{
            padding:0px;
            @include box-shadow(none);
            thead{
                background:#fff;
                color: #3a3838;
                font-size: 15px;
                font-weight: 700;
            }
            th,td{
                padding:12px 0;
                font-size: 15px;
                color: $link-color;
                border:none;
            }
            tr{
                border-bottom:1px solid $border-color;
            }
            th{
                text-transform: uppercase;
                color: #3a3838;
            }
            .order-total strong{
                font-size: 19px;
                color: $red;
            }
        }
        h3{
            font-size: 20px;
            font-weight: 400;
            margin: 0 0 20px;
            line-height: 1;
            @media(min-width: 1200px){
                margin-bottom: 40px;
            }
        }
    }
}
.woocommerce form .form-row{
    padding:0;
    margin-bottom: 15px;
    &:last-child{
        margin-bottom: 0;
    }
}
.woocommerce-shipping-fields,
.woocommerce-billing-fields__field-wrapper{
    .form-row > label:first-child{
        margin:0;
    }
}
.woocommerce-checkout #payment ul.payment_methods,
.woocommerce-checkout #payment div.place-order{
    padding:0;
    margin:0;
}
.woocommerce-checkout #payment div.place-order{
    padding-top:$theme-padding/2;
}
.woocommerce-checkout input.btn-proceed{
    @include border-radius(4px);
    font-size: 18px;
    text-transform: uppercase;
    padding:10px 30px;
    height: auto;
}
.woocommerce #payment #place_order, .woocommerce-page #payment #place_order{
    @include rtl-float-left();
}
.woocommerce-MyAccount-navigation{
    li {
        a{
            font-size: 16px;
        }
        &.is-active{
            > a{
                color: $link-hover-color;
            }
        }
    }
}
.woocommerce-MyAccount-content{
    > table.shop_table{
        @include box-shadow(none !important);
    }
    > h2{
        font-size: 22px;
        font-weight: 400;
        margin:0 0 20px;
    }
    .addresses{
        padding-top:30px;
    }
    fieldset{
        margin-bottom: $theme-margin;
    }
}
.woocommerce-account .addresses .title h3 {
    font-size: 18px;
    font-weight: 400;
    margin:0 0 15px;
}
#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment{
    background:transparent;
    .payment_methods{
        border:none !important;
    }
    div.payment_box{
        background:transparent;
        &:before{
            display: none;
        }
    }
}
.woocommerce #review_form .comment-form{
    max-width: 520px;
    > p{
        margin-bottom: 0 !important;
    }
    .form-control{
        margin-bottom:10px;
        padding:0 0 18px 0;
        border-width:0 0 1px;
        color: #3e3e3e;
        @include border-radius(0);
        @include transition(all 0.25s ease-in-out 0s);
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: #3e3e3e;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: #3e3e3e;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: #3e3e3e;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: #3e3e3e;
        }
    }
    #comment{
        resize:none;
        height: 130px;
    }
    .comment-form-rating{
        margin-bottom:10px !important;
        > *{
            display: inline-block;
            margin: 0;
            vertical-align:middle;
        }
        label{
            @include rtl-margin-right(20px);
            color: #757575;
            font-weight:700;
            font-size:14px;
            text-transform:uppercase;
        }
        .stars{
            margin: 9px 0 0 !important;
        }
    }
}
.woocommerce p.stars a::before{
    color:#d7d7d7;
    content: '\e020';
}
.woocommerce p.stars.selected a.active ~ a::before,
.woocommerce p.stars a:hover ~ a::before {
    content: '\e020';
    color:#d7d7d7 !important;
}
.woocommerce p.stars:hover a:not(.active)::before,
.woocommerce p.stars.selected a:not(.active)::before{
    color:  $star-rating-active-color;
}
.woocommerce p.stars.selected a.active::before{
    color:  $star-rating-active-color;
}
.woocommerce div.product p.price del, .woocommerce div.product span.price del{
    font-size: 14px;
    color: $text-color;
    font-weight: 400;
}
.woocommerce div.product p.price, .woocommerce div.product span.price{
    color: $link-color;
    font-size: 18px;
    font-weight: 400;
}
.woocommerce div.product p.price del, .woocommerce div.product span.price del{
    @include opacity(1);
}
.variations{
    label{
        color: $text-color;
        font-size: 18px;
        text-transform: capitalize;
        margin: 5px 0;
    }
    .value{
        padding: 0;
    }
    tr{
        margin: 0 0 10px;
    }
}
.woocommerce ul.order_details{
    margin: 15px;
    width:100%;
    padding:0;
    @media(min-width: 1200px){
        margin:20px 0 35px;
    }
    li{
        text-transform:capitalize;
        border:none;
        padding:0;
        margin:0;
        font-size:18px;
        font-weight:400;
        color: $link-color;
        strong{
            margin-top:5px;
            font-weight:400;
            color:$text-color;
            font-size:15px;
        }
    }
}
.woocommerce .woocommerce-customer-details .woocommerce-customer-details--email, .woocommerce .woocommerce-customer-details .woocommerce-customer-details--phone{
    padding:0;
    &:before{
        display: none;
    }
}
.woocommerce div.product form.cart .group_table{
    border:none;
    .price del{
        font-size: 12px !important;
    }
    .price,
    .price ins{
        font-size: 18px !important;
    }
    td{
        vertical-align: middle;
    }
}
.woocommerce div.product form.cart .group_table .label{
    padding: 0.5em;
    vertical-align: middle;
    font-size:14px;
    display: table-cell;
    text-align: inherit;
}
.woocommerce div.product form.cart .variations td, .woocommerce div.product form.cart .variations th{
    line-height: 3em;
}
.woocommerce table.order_details{
    border:none;
    td,th{
        border:none;
        padding-left:0;
        padding-right:0;
        color: $text-color;
        font-weight: 400;
        @media(min-width: 1200px){
            padding-top:10px;
            padding-bottom:10px;
        }
        &:last-child{
            @include rtl-text-align-right();
        }
    }
    thead{
        td,th{
            padding-top:0;
        }
    }
    .product-name{
        a{
            color: $text-color;
            &:hover,
            &:focus{
                color: $link-color;
            }
        }
    }
    tfoot .woocommerce-Price-amount {
        color: $theme-color;
        font-weight: 600;
    }
}
.woocommerce table.shop_table{
    border-collapse:collapse;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button{
    display: inline-block;
    font-size: $font-size-base;
    padding: $padding-base-vertical $padding-base-horizontal;
}
.woocommerce #content table.cart td.actions .input-text, 
.woocommerce table.cart td.actions .input-text, 
.woocommerce-page #content table.cart td.actions .input-text, 
.woocommerce-page table.cart td.actions .input-text{
    width: auto;
    height: 39px;
}
.woocommerce span.onsale{
    background: $theme-color none repeat scroll 0 0;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1.2px;
    padding: 13px 7px;
    @include border-radius(50%);
    position: absolute;
    text-align: center;
    @include rtl-left(0);
    top: 0px;
    line-height: 1.4;
    min-height: auto;
    font-family: $font-family-base;
    z-index: 9;
    display: inline-block;
}
.completed-order{
    max-width:750px;
    margin-left:auto;    
    margin-right:auto;  
    .title-completed{
        font-size: 20px;
        font-weight: 400;
        margin:0 0 15px;
    }
}
//popup-cart
.popup-cart{
    .title-count,
    .title-add{
        font-size: 20px;
        margin: 0 0 20px;
    }
    .gr-buttons{
        margin: 50px 0 0;
    }
    .title-add{
        color: $brand-success;
    }
    .image{
        img{
            max-width: 100px;
        }
    }
    .name{
         margin: 30px 0 0;
    }
    .widget-product{
        margin-top: 30px;
    }
}
#apus-cart-modal{
    .btn-close{
        position: absolute;
        top:0;
        @include rtl-right(0);
        z-index: 99;
        background: #fff;
        @include size(30px,30px);
        line-height: 26px;
        text-align: center;
        display: inline-block;
    }
    .modal-content{
        background: #ffffff none repeat scroll 0 0;
        min-width: 1000px;
        max-width: 100%;
        margin-top: 50px;             
    }
    .modal-body{
        padding: 60px;
    }
}

.name{
    @include font-size(font-size,20px);
    margin:0 0 4px;
    font-weight: 400;
}
.product-block{
     .sale-off{
        background: $brand-danger none repeat scroll 0 0;
        color: #ffffff;
        font-size: 12px;
        font-weight: 400;
        padding: 4px 10px;
        position: absolute;
        right: 20px;
        text-align: center;
        text-transform: uppercase;
        top: 20px;
    }
    .image{
        position: relative;
        overflow: hidden;
        .image-effect{
            top: 0;
            position: absolute;
            overflow: hidden;
            @include rtl-left(0);
            @include opacity(1);
            @include translate(-100%, 0px);
            @include transition(all 0.3s);
        }
        .image-hover{
            @include transition(all 0.3s );
        }
        .yith-wcwl-add-to-bookmark, .yith-wcwl-add-to-bookmark{
            span{
                display: none;
            }
        }
    }
    .product-image{
        display:block;
        position:relative;
    }
    .added_to_cart:after,
    .clear,.added {
        display: none !important;
    }
    .add_to_cart_button{
        position: relative;
        &.loading{
            .title-cart{
                visibility: hidden;
            }
        }
    }
    .yith-wcwl-add-to-bookmark{
        margin: 0;
    }
    // add to cart
    .add-cart{
        .added_to_cart,
        .button{
            background:$theme-color;
            font-weight:700;
            font-size:16px;
            display:inline-block;
            color:#fff;
            border:2px solid #fff;
            padding:15px 30px !important;
            font-family:$font-family-second;
            @include transition(all 0.3s ease-in-out 0s);
            @include border-radius(60px);
            line-height:1;
            text-align:center;
            &:before{
                content: "\f101";
                font-family: "Flaticon";
                font-size:18px;
                @include rtl-margin-right(10px);
                display: inline-block;
            }
            &.added_to_cart,
            &:hover{
                background:#fff;
                color:$theme-color;
                border-color:$theme-color;
            }
        }
    }
    .block-inner{
        position:relative;
        text-align:center;
    }
    .groups-button{
        margin-top:15px;
    }
    &:hover{
        .add-cart{
            .added_to_cart,
            .button{
                background:#fff;
                color:$theme-color;
                border-color:$theme-color;
            }
        }
    }
    // product grid
    &.grid{
        background:#fff;
        position:relative;
        margin:0 0 $theme-margin;
        @include transition(all 0.3s ease-in-out 0s);
        @include border-radius(7px);
        text-align: center;
        overflow: hidden;
        .rating{
            width: 100%;
            line-height:1;
            margin: 0 ;
            .star-rating{
                margin:0;
                @include rtl-float-left();
            }
            .counts{
                font-size:12px;
                display:inline-block;
                line-height:1;
                @include rtl-margin-left(2px);
                vertical-align:top;
            }
        }
        .feedback,
        .sub-title{
            display: none;
        }
        .block-inner{
            position: relative;
            &.loading{
                &:before{
                    position: absolute;
                    top:0;
                    left:0;
                    z-index: 99;
                    @include size(100%,100%);
                    content: '';
                    background: url('#{$image-theme-path}loading.gif') center center no-repeat rgba(255,255,255,0.8);
                }
            }
        }
        .caption{
            padding:17px 0 0;
        }
        .metas{
            @include transition(all 0.2s ease-in-out 0s);
            padding:10px 20px 20px;
            @media(min-width: 1200px){
                padding:20px 30px 30px;
            }
            overflow:hidden;
            clear:both;
        }
        .price{

        }
        &:hover{
            @include box-shadow(0 1px 10px 0 rgba(0,0,0,0.1));
        }
    }
    &.list{
        margin: 0 0 $theme-margin;
        .image{
            border: 1px solid $border-color;
        }
        .rating{
            margin:30px 0 4px;
        }
        .name{
            margin: 0;
        }
        .action-bottom {
            margin: ($theme-margin) 0 0;
            .fa,[class *='icon']{
                @include rtl-margin-right(5px !important);
            }
            > *{
                display: inline-block;
                vertical-align: top;
                @include rtl-margin-right(10px);
            }
        }
        .feedback{
            display: none;
        }
        .yith-wcwl-add-button > a,
        .yith-wcwl-bookmarkexistsbrowse > a{
            border:1px solid $btn-primary-border;
            padding: $padding-base-vertical $padding-base-horizontal;
            font-weight: $btn-font-weight;
            font-family: $btn-font-family;
            font-size: 12px;
            letter-spacing: 1.2px;
            line-height: $line-height-base;
            text-transform: uppercase;
            display: inline-block;
            @include border-radius($border-radius-base);
            .fa{
                @include rtl-border-right(5px);
            }
            &:hover,&:active{
                color: #fff;
                background: $btn-primary-bg;
            }
        }
    }
}
.product-block-list{
    figure.image{
        @include border-radius(7px);
        overflow: hidden;
    }
    .list-featured{
        li{
            margin-bottom: 5px;
        }
    }
    .price{
        color: $link-color;
        font-size: 18px;
        font-weight: 400;
    }
    .product-excerpt{
        margin-top: 10px;
    }
}
.products{
    /*------------------------------------*\
        Product List
    \*------------------------------------*/
    .product-list{
        padding:  20px;
        background: $white;
        img{
            height: auto;
        }
        .rating{
            @include clearfix();
            .star-rating{
                @include rtl-float-right;
            }
        }

        .price{
            @include rtl-text-align-right;
            ins{
                @include rtl-text-align-right;
            }
            > *{
                width: inherit;
            }
        }
        .description{
            text-align: justify;
        }
        .product-assets{
            .name{
                display: none;
            }
            text-align: right;
           
            .btn-cart, .btn-cart a{
                background: none;
                &:after, &:before{
                    content: none!important;
                }    
            }
        }  
    }
    &.products-grid{
        .row > .first{
            clear: both;
        }
    }
    &.special{
        .product-block{
            margin: 0 0 $theme-margin;
            &:hover{
                .price{
                    @include opacity(0);
                }
            }
        }
        .name{
            display: none;
        }
        .price{
            @include opacity(1);
            position: absolute;
            bottom:20px;
            @include rtl-left(20px);
            background: #fff;
            color: #000;
            padding: 5px 15px;
            @include transition(all 0.3s ease-in-out 0s);
        }
    }
}
// single product
.woocommerce div.product div.images div.thumbnails{
    padding-top: 20px;
}
.woocommerce .woocommerce-product-rating{
    .star-rating{
        margin: 0;
        display: inline-block;
        float: none;
        vertical-align: middle;
    }
    .woocommerce-review-link{
        display: inline-block;
        font-size:14px;
        color:$brand-danger;
        line-height:1;
    }
}
.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary,
.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images{
    width: 100%;
}

.details-product{
    color: $text-color;
    .image-mains {
        padding:15px;
        background:#fff;
        @include border-radius(7px);
        overflow: hidden;
        margin-bottom: 20px;
        @media(min-width: 1200px){
            padding:30px;
            margin-bottom: 30px;
        }
        .zoomImg{
            @include transition(all 0.3s ease-in-out 0s);
        }
    }
    .image-mains.thumbnails-left{
        position: relative;
        .apus_swipe_image_item{
            cursor:zoom-out;
        }
        .onsale{
            @include rtl-right(inherit);
            @include rtl-left($theme-margin / 2);
        }
        .apus-woocommerce-product-gallery-wrapper{
            @include rtl-float-right();
            width:calc(100% - 120px);
        }
        .wrapper-thumbs{
            @include rtl-float-left();
            width:120px;
            @include rtl-padding-right(10px);
        }
        .slick-vertical .slick-slide{
            margin-bottom:10px;
        }
    }
    .information{
        position: relative;
        .woocommerce-product-details__short-description{
            margin-bottom:10px;
            @media(min-width: 1200px){
                margin-bottom:25px;
            }
            .list-featured{
                li{
                    margin-bottom: 5px;
                    &:last-child{
                      margin:0;
                    }
                }
            }
        }
        .cart{
            margin-bottom:10px !important;
            @media(min-width: 1200px){
                margin-bottom:20px !important;
            }
            .quantity{
                @include rtl-margin-right($theme-margin !important);
            }
            > .qty{
                display: none;
            }
            .btn{
                text-transform: uppercase;
                @include border-radius(3px);
            }
        }
        .woocommerce-product-rating{
            margin: 0 !important;
        }
        .feedback{
            display: none;
        }
        .yith-wcwl-bookmarkexistsbrowse,
        .yith-wcwl-bookmarkaddedbrowse,
        .add_to_bookmark{
            .fa{
                display: none;
            }
        }
        .compare:before,
        .compare:after {display: none !important;}
        .yith-wcwl-add-to-bookmark,
        .compare {
            display: inline-block !important;
            @include rtl-base-toprightbottomleft(margin,0,20px,0,0);
        }
        // creat button
        .compare ,
        .add_to_bookmark,
        .yith-wcwl-bookmarkexistsbrowse > a,
        .yith-wcwl-bookmarkaddedbrowse > a{
            border:1px solid $btn-primary-border;
            padding: $padding-base-vertical $padding-base-horizontal;
            font-weight: $btn-font-weight;
            font-family: $btn-font-family;
            font-size: 12px;
            letter-spacing: 1.2px;
            line-height: $line-height-base;
            text-transform: uppercase;
            display: inline-block;
            @include border-radius($border-radius-base);
            &:hover,&:active{
                color: #fff;
                background: $btn-primary-bg;
            }
        }
        .clear{
            display: none;
        }
        .product_meta{
            overflow: hidden;
            > *{
                display: block;
            }
        }
    }
    // social
    .apus-social-share{
        margin: 20px 0 0;
        a{
            @include rtl-margin-left($theme-margin / 2);
        }
        .title{
            display: none;
        }
    }
    //images
    .thumbnails-image{
        margin-top: 20px;
    }
}
.woocommerce{
    .details-product .information {
        .price{
            margin:0 0 10px;
            font-size: 20px;
            font-weight: 400;
            color:$link-color;
            del{
                font-size: 16px;
                @include rtl-margin-right(5px);
                color: $text-color;
            }
            ins{
                font-size: 20px;
                text-decoration: none;
            }
        }
    }
}
.wrapper-thumbs{
    .thumbs-inner{
        cursor:pointer;
        @include border-radius(7px);
        max-height: 130px;
        overflow: hidden;
        position:relative;
        &:before{
            @include transition(all 0.2s ease-in-out 0s);
            content:'';
            position:absolute;
            top:0;
            left: 0;
            @include size(100%,100%);
            background:#212121;
            @include opacity(0.7);
            z-index: 1;
        }
        &:hover{
            &:before{
                @include opacity(0);
            }
        }
    }
    .slick-current{
        .thumbs-inner:before{
            @include opacity(0);
        }
    }
}
.apus-woocommerce-product-gallery-wrapper{
    position:relative;
    margin-bottom:15px;
    overflow: hidden;
    @include border-radius(7px);
    @media(min-width:1200px){
        margin-bottom:$theme-margin;
    }
    .woocommerce-product-gallery__trigger{
        position:absolute;
        @include transition(all 0.2s ease-in-out 0s);
        top:20px;
        z-index:9;
        right:20px;
        @include size(40px,40px);
        line-height:40px;
        display:inline-block;
        text-align:center;
        color:#fff;
        background:$theme-color;
        @include opacity(0.7);
        @include border-radius(50%);
        &:hover,&:active{
            color:#fff;
            @include opacity(1);
            background:darken($theme-color,10%);
        }
    }
    .slick-carousel {
        .slick-arrow{
            @include opacity(1);
        }
        margin:0;
        .slick-slide{
            padding:0;
        }
    }
    @media(min-width: 1200px){
        .slick-carousel .slick-prev{
            left: 25px;
        }
        .slick-carousel .slick-next{
            right: 25px;
        }
    }
}
.woocommerce table.shop_table{
    @include border-radius(0);
    margin:0;
    border:0;
    th,
    td{
        border:none;
        padding:15px 10px;
        @media(min-width: 1200px){
            padding:30px 10px;
        }
        .reader-text{
            display:none;
        }

        &.actions{
            .input-text,
            input[ type="text"]{
                padding:0 0 15px 0 !important;
                @include border-radius(0);
                border-width:0 0 1px !important;
                width:220px;
                height:$input-height-base;
                @media(min-width: 1200px){
                    @include rtl-margin-right(20px !important);
                }
                &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                  color:$text-color;
                  @include opacity(1);
                }
                &::-moz-placeholder { /* Firefox 19+ */
                  color:$text-color;
                  @include opacity(1);
                }
                &:-ms-input-placeholder { /* IE 10+ */
                  color:$text-color;
                  @include opacity(1);
                }
                &:-moz-placeholder { /* Firefox 18- */
                  color:$text-color;
                  @include opacity(1);
                }
            }
        }
        &.product-name > a{
            font-size: 16px;
            font-weight: 700;
            &:hover,&:active{
                color: $link-hover-color;
            }
        }
        &.product-thumbnail{
            img{
                width:110px;
                @include border-radius(7px);
            }
        }
        &.product-quantity,
        &.product-quantity .qty,
        &.product-price{
            font-size: 16px;
            font-weight: 700;
        }
        &.product-remove{
           @include rtl-padding-left(0); 
        }
        &.product-subtotal{
            font-size: 16px;
            color: $theme-color;
            font-weight: 700;
        }
    }
    th{
        color: $headings-color;
        font-size:16px;
    }
    tr{
        border-bottom:1px solid $border-color;
    }
}
.woocommerce table.shop_table.woocommerce-cart-form__contents{
    tr{
        td:last-child{
            @include rtl-text-align-right();
            @include rtl-padding-right(0);
        }
        &:first-child{
            td{
                padding-top:0;
            }
        }
        &:last-child{
            border-bottom:0;
            td{
                padding-bottom:0;
                padding-left:0;
                padding-right:0;
            }
        }
    }
}
.woocommerce .woocommerce-customer-details address{
    padding:0;
    border:none;
}
.woocommerce .woocommerce-customer-details{
    margin-bottom: 0;
}
.woocommerce-order-details__title,
.woocommerce-column__title{
    margin:0 0 20px 0;
    font-weight: 400;
    font-size: 20px;
    text-transform: capitalize;
}
.widget-user-packages {
    table{
        border:none;
        td{
            border:none !important;
            padding:10px;
            @media(min-width: 1200px){
                padding:20px;
            }
            &.title{
                color: $link-color;
                font-weight: 700;
            }
        }
        > thead{
            background:$theme-color;
            color: #fff;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
        }
        > tbody{
            tr{
                border-bottom:1px solid $border-color;
                &:last-child{
                    border:none;
                }
                &:nth-child(2n){
                    background:#fafafa;
                }
            }
        }
    }
    .action{
        font-size: 12px;
        font-weight: 500;
        display: inline-block;
        padding:0 10px;
        background:#5cb85c;
        color: #fff;
        @include border-radius(2px);
        &.finish{
            background:#fb355f;
        }
    }
}
.cart_totals {
    margin: 0;
    background: $theme-color;
    color:#fff;
    font-size: 18px;
    @include border-radius(7px);
    padding:15px;
    @media(min-width: 1200px){
        padding:30px;
    }
    .shipping-calculator-button{
        color:#fff !important;
        &:hover,&:active{
            text-decoration:underline;
        }
    }
    h2{
        font-size:24px;
        font-weight:400;
        margin:0 0 8px;
        color:#fff;
    }
    table.shop_table{
        color: #fff;
        border:none;
        margin: 0 !important;
        @include box-shadow(none);
        td,th{
            padding:15px 0;
            border:none !important;
            font-weight:400;
        }
        tr{
            border:none;
        }
        th{
            font-weight: 400 !important;
            color: #fff;
        }
        td{
            font-weight: 400;
            @include rtl-text-align-right();
        }
        .cart-subtotal{
            strong{
                font-size: 17px;
                font-weight: 400;
            }
        }
        .order-total{
            strong,
            td,th{
                font-size: 20px;
                font-weight: 400;
            }
        }
    }
    .wc-proceed-to-checkout{
        padding:15px 0 0;
        .btn{
            &:after{
                display: none;
            }
        }
    }
    .select2-container .select2-selection--multiple,
    .select2-container .select2-selection--single {
        .select2-selection__rendered{
            color: #fff !important;
        }
        .select2-selection__arrow{
            top:7px;
        }
        .select2-selection__arrow::before{
            color: #fff;
            font-size: 14px;
        }
    }
    .input-text,
    input[type="text"]{
        font-size: 16px;
        background:transparent;
        border-width:0 0 1px;
        border-color:#fff !important;
        color:#fff !important;
        padding-left:0;
        padding-right:0;
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color:#fff !important;
          @include opacity(1);
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color:#fff !important;
          @include opacity(1);
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color:#ffffff !important;
          @include opacity(1);
        }
        &:-moz-placeholder { /* Firefox 18- */
          color:#fff !important;
          @include opacity(1);
        }
    }
}
.woocommerce .shipping-calculator-form{
    > p:last-child{
        margin-bottom: 0;
    }
    .form-row{
        margin-bottom: 10px;
    }
    .button{
        padding:10px 30px;
        border:none;
        background:$brand-primary;
        color:#fff;
        font-weight:400;
        &:hover,&:active{
            color:#fff;
            background:darken($brand-primary,10%);
        }
    }
}
/*------------------------------------*\
    Product Category and Subcategories
\*------------------------------------*/
.product-category{
    .product-category-content{
        position: relative;
        overflow: hidden;
        min-height: $product-category-content-height;
        margin: $product-category-content-margin;
    }
    .product-category-image{
        display: block;
        img{
            @include img-responsive();
        }
    }
    .product-category-title{
        text-transform: none;
        position: absolute;
        text-align: center;
        bottom: 0;
        @include rtl-left(0);
        width: 100%;
        font-weight: $product-category-title-font-weight;
        @include font-size(font-size,$product-category-title-font-size);
        color: $product-category-title-color;
        margin: $product-category-title-margin;
        padding: $product-category-title-padding;
        background: rgba($product-category-title-bg, .3);
        .count{
            background: transparent;
            color: $product-category-title-color;
        }
    }
}
// accordion single product
.accordion-info{
    max-width: 900px;
    .panel{
        background: #f8f8f8;
        color: #777777;
        border:none;
        .panel-title{
            color: $black;
            font-size: 14px;
            text-transform: uppercase;
            line-height: 1;
        }
        .panel-body{
            border:none !important;
            padding: 0 25px 15px;
        }
        h2{
            font-size: 14px;
            margin: 0 0 10px;
        }
    }
}


/*------------------------------------*\
    Quickview
\*------------------------------------*/
#apus-quickview-modal{
    .product_meta{
        margin: ($theme-margin / 2) 0 0;
    }
}

/**
 *
 *  Woocommerce Form
 */
.button{
	@extend .btn;
	.fa , .icon{
		@include rtl-margin-right(8px);
	}
}

.select2-container{ 
	& > .select2-choice{
		border: 1px solid $input-border !important;
	    border-radius: $input-border-radius !important;
		padding: $padding-base-vertical $padding-base-horizontal - 8 !important;
		font-size: $font-size-base;
		line-height: $line-height-base;
	}
}

.form-row {
	label{
		font-weight: normal;
	}
	.checkbox, .input-radio{
		margin-bottom: 0;
		margin-top: 0;
	}
}	
.your-order{

}
/* End
------------------------------------------------*/
/*------------------------------------*\
    Utilities
\*------------------------------------*/
.wc-backward, .wc-backward a {
	&:before {
		content: "\f060";
		font-family: 'Font Awesome 5 Free';
        font-weight: 900;
		@include rtl-margin(0, 5px, 0, 0);
	}
}
//reviews
.woocommerce #reviews #comments{
    max-width: 690px;
}
#ffrespond {
	.form-submit {
		input {
			@include rtl-left(auto);
		}
	}
	textarea {
		@include box-sizing(border-box);
	}
	p.stars {
		position: relative;
		padding: 6px 0;
		a{
			@include inline-block();
			font-weight: $headings-font-weight;
			text-indent: -9999px;
			position: relative;
			@include rtl-margin-right(1em);
			&:last-child {
				@include rtl-border-right(0);
			}
			&.star-1,
			&.star-2,
			&.star-3,
			&.star-4,
			&.star-5 {
				@include rtl-border-right(1px solid $border-color);
				&:after {
					top: -6px;
					font-family: "WooCommerce";
					text-indent: 0;
					position: absolute;
					@include rtl-left(0);
				}
			}

			&.star-1 {
				width: 2em;
				&:after {
					content: "\e021";
				}
				&:hover:after,
				&.active:after {
					content: "\e020";
				}
			}

			&.star-2 {
				width: 3em;
				&:after {
					content: "\e021\e021";
				}
				&:hover:after,
				&.active:after {
					content: "\e020\e020";
				}
			}

			&.star-3 {
				width: 4em;
				&:after {
					content: "\e021\e021\e021";
				}
				&:hover:after,
				&.active:after {
					content: "\e020\e020\e020";
				}
			}

			&.star-4 {
				width: 5em;
				&:after {
					content: "\e021\e021\e021\e021";
				}
				&:hover:after,
				&.active:after {
					content: "\e020\e020\e020\e020";
				}
			}

			&.star-5 {
				width: 6em;
				border: 0;
				&:after {
					content: "\e021\e021\e021\e021\e021";
				}
				&:hover:after,
				&.active:after {
					content: "\e020\e020\e020\e020\e020";
				}
			}
            &.active,
            &:hover,
            &:active{
                &:after{
                    color: $theme-color-second;
                }
            }
		}
	}
}
/*------------------------------------*\
    Quantity inputs
\*------------------------------------*/
.quantity {
	position : relative;
	margin   : 0 auto;
	overflow : hidden;
	zoom     : 1;
	input.qty {
		@include border-right-radius(0);
		@include border-left-radius(0);
		padding : 8px;
        @include size(100px, 45px);
        text-align: center;
        color: $black;
        font-weight: 400;
        border: 1px solid $border-color;
		&:focus{
			@include form-control-focus();
		}
	}
	.plus, .minus {
		background  	: $white;
		@include rtl-float-right();
		@include rtl-clear-right();
		display         : block;
		padding         : 0;
		margin          : 0;
		vertical-align  : text-top;
		text-decoration : none;
		overflow        : visible;
		text-decoration : none;
		cursor          : pointer;
		line-height     : 13px;
		font-size       : 12px;
		color           : $text-color;
		border          : 1px solid $border-color;
		text-align: center;
		@include size(25px , 19px);
        &:hover{
            color: #fff !important;
            background: $theme-color-second !important;
        }
	}
	.plus {
		@include border-bottom-radius(0);
		 @include rtl-right (0);
	}
	.minus {
		bottom: 0;
		 @include rtl-right (0);
		@include border-top-radius(0);
	}
}

/*------------------------------------*\
    Forms
\*------------------------------------*/
.woocommerce .form-row {
	@include clearfix();
    label.hidden {
        visibility:hidden;
    }
    label.inline {
        display: inline;
    }
    label{
    	display: block;
        color:#565656;
    }
    select {
        cursor: pointer;
    }
    .required {
        color: $red;
        font-weight: $headings-font-weight;
        border: 0;
    }
    .select2-container--default .select2-selection--single,
    input.input-text,.input-text {
        height: $input-height-base;
        padding:0 0 15px;
        border-width:0 0 1px;
        border-color:$border-color;
        color: #3e3e3e;
        @include border-radius(0);
        @include transition(all 0.25s ease-in-out 0s);
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: #3e3e3e;
          @include opacity(1);
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: #3e3e3e;
          @include opacity(1);
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: #3e3e3e;
          @include opacity(1);
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: #3e3e3e;
          @include opacity(1);
        }
        &:focus{
            border-color:$input-border-focus;
        }
    }
    textarea.input-text{
        resize: none;
        height: 130px;
    }
    &.form-row-first{
    	width: 47%;
    	@include rtl-float-left();
    }
    &.form-row-last{
    	width: 47%;
    	@include rtl-float-right();
    }
    &.form-row-wide{
    	clear: both;
    }
    .select2-container .select2-selection--single .select2-selection__rendered{
        @include rtl-padding-left(0);
    }
}

ul.tabs {
	list-style:none;
	padding: 0 0 0 1em;
	margin: 0 0 1.618em;
	overflow:hidden;
	position: relative;
	li {
		@include inline-block();
		position: relative;
		z-index: 0;
		margin: 0 -5px;
		padding: 0 1em;
		border: 1px solid darken( $border-color, 10 );
		@include box-shadow(0 3px 3px rgba($black, 0.2), inset 0 1px 0 rgba($white,0.6));
		a {
			@include inline-block();
			padding: .5em 0;
			font-weight: $headings-font-weight;
			color: $border-color;
			text-decoration: none;
			&:hover {
				text-decoration:none;
				color: lighten( $border-color, 10 );
			}
		}
		&.active {
			background: $border-color;
			z-index: 2;
			border-bottom-color: $border-color;
			a {
				color: inherit;
				text-shadow: inherit;
			}
			&:before {
				@include box-shadow(2px 2px 0 $border-color);
			}
			&:after {
				@include box-shadow(-2px 2px 0 $border-color);
			}
		}
		&:before, &:after {
			border: 1px solid darken($border-color, 10);
			position:absolute;
			bottom: -1px;
			content: "";
			@include size(5px,5px);
		}
		&:before {
			border-width: 0 1px 1px 0;
			@include rtl-left(-6px);
			@include border-right-radius(4px);
			@include box-shadow(2px 2px 0 darken( $border-color, 10 ));
		}
		&:after {
			border-width: 0 0 1px 1px;
			@include rtl-right(-6px);
			@include border-left-radius(4px);
			@include box-shadow(-2px 2px 0 darken( $border-color, 10 ));
		}
	}
	&:before {
		position:absolute;
		content: "";
		width: percentage(1);
		bottom: 0;
		z-index: 1;
		@include rtl-left(0);
		border-bottom: 1px solid darken( $border-color, 10 );
	}
}

.product-quantity{
	.input-text{
		@include input-size('.input-sm', $input-height-small, $padding-base-vertical, $padding-base-vertical, $font-size-small, $line-height-small, 0);
	}
}

.i-am-new{
    li{
        background-image: none !important;
        background-color: $white !important;
        -webkit-border-radius: 0px !important;
        border-radius: 0px !important;
        .noty_message{
            padding: 20px 0 !important;
        }
    }
}

/*------------------------------------*\
    Mini cart
\*------------------------------------*/
.cart-icon{
    position: relative;
    .count{
        background: #fff;
        color: $link-color;
        font-size: 11px;
        border-radius: 50%;
        padding:3px 5px;
        position: absolute;
        @include rtl-right(-14px);
        top:-5px;
        display: inline-block;
        line-height: 1;
    }
}
/*------------------------------------*\
    Star ratings
\*------------------------------------*/
.woocommerce {
    .star-rating {
        margin: auto 0;
        overflow: hidden;
        position: relative;
        @include size(6.77em, 1.2em);
        line-height: 1.2em;
        font-family: 'star';
        @include font-size(font-size,$star-rating-font-size);
        &:before {
            content: "\73\73\73\73\73";
            color: $star-rating-color;
            @include rtl-float-left();
            top: 0;
            @include rtl-left(0);
            position: absolute;
            letter-spacing: 3px;
        }
        span {
            overflow: hidden;
            @include rtl-float-left();
            top: 0;
            @include rtl-left(0);
            position: absolute;
            padding-top: 1.5em;
        }
        span:before {
            content: "\53\53\53\53\53";
            top: 0;
            position: absolute;
            @include rtl-left(0);
            color: $star-rating-active-color;
            letter-spacing: 3px;
        }
    }
}
/*------------------------------------*\
    Filter
\*------------------------------------*/
.archive-shop{
    .page-title{
        display: none;
    }
}
.apus-filter{
    overflow: hidden;
    margin: 0 0 25px;
    .display-mode{
        @include rtl-float-left();
        margin:15px 0 0;
    }
    .woocommerce-ordering{
        margin: 0 !important;
    }
    select{
        padding:5px 10px;
        font-size: 14px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        border:1px solid $border-color;
        background: url("#{$image-theme-path}select.png") #fff right 10px center no-repeat;
    }
    .change-view{
        padding: 5px;
        @include rtl-margin-right(10px);
        .fa{
            @include rtl-margin-right(5px);
        }
        &.active{
            color: $theme-color;
        }
    }
    .woocommerce-result-count{
        margin:4px 0 0 !important;
    }
}
.apus-after-loop-shop{
    margin-bottom:$theme-margin;
}

/*------------------------------------*\
    Cart
\*------------------------------------*/
.woocommerce a.remove{
    font-size:13px;
    @include transition(all 0.3s ease-in-out 0s);
    padding:0;
    color:$link-color !important;
    display: inline-block;
    background:#d2d2d2;
    @include size(31px,31px);
    line-height: 33px;
    text-align: center;
    &:hover,&:focus{
        background:$brand-danger;
        color: #fff !important;
    }
}

/** Plugins  add to bookmark, compare **/

.place-order{
	padding: $theme-margin;
}

.yith-wcwl-add-button > a i, .bookmark_table .add_to_cart.button i{
	margin: 0!important;
}

.yith-wcwl-share{
    ul{
        @include clear-list;
    }
}

ul{
    &.display,&#shipping_method,&.payment_methods{
        @include clear-list;
    }
    &.payment_methods{
        li{
            margin-bottom: $theme-margin;
        }
    }
    &.products-list{
        @include clear-list();
        margin-bottom: $theme-margin / 2;
    }
}
.input-text {
	border: 1px solid #e5e5e5;
	padding:  5px 10px;
}
.woocommerce{
	address{
		margin-bottom: 20px;
	}
}
// overide quantity
.woocommerce .quantity input.minus,
.woocommerce-page .quantity input.minus,
.woocommerce .quantity input.plus,
.woocommerce-page .quantity input.plus{
	background:#fff;
	color:$theme-color-second;
	@include size(35px,50px);
    border:none;
	@include border-radius(0);
    font-size: 18px;
}
.single-product-cart .quantity{
	span{
		display: none;
	}
}
.woocommerce .quantity input.qty, 
.woocommerce-page .quantity input.qty{
	height:50px !important;
    background: #fff;
	width:70px !important;
	display:inline-block;
    border-width:0 0 1px;
    @include border-radius(0);
}
.quantity .reader-text{
    @include rtl-margin-right(5px);
    color:$link-color;
    font-weight:500;
}
form.cart{
    .single_add_to_cart_button{
        background:$theme-color;
        font-weight:700;
        font-size:16px;
        display:inline-block;
        color:#fff;
        border:2px solid #fff;
        padding:15px 30px !important;
        font-family:$font-family-second;
        @include transition(all 0.3s ease-in-out 0s);
        @include border-radius(60px);
        line-height:1;
        text-align:center;
        &:before{
            content: "\f101";
            font-family: "Flaticon";
            font-size:18px;
            @include rtl-margin-right(10px);
            display: inline-block;
        }
        &:hover{
            background:#fff;
            color:$theme-color;
            border-color:$theme-color;
        }
    }
}
//related upsells
.widget.related{
    margin-top:20px;
    @media(min-width:1200px){
        margin-top:30px;
    }
    .widget-title{
        margin-bottom:20px;
    }
}
.wc-bookings-booking-form .wc-bookings-booking-cost{
    background:#fff;
    width:100%;
    padding:15px 0 5px 0;
    strong{
        color: $theme-color;
        font-weight:400;
        font-size: 24px;
    }
}
.apus-products-service {
    .product-block.grid{
        text-align: inherit;
        .name{
            font-size: 16px;
            font-weight: 700;
        }
    }
    .product-block.grid .price{
        width:100%;
        margin:5px 0;
        color: $link-color;
        font-size: 18px;
        font-weight: 400;
    }
    .ui-widget{
        font-family: $font-family-base;
    }
}
.listing-products-booking{
    .woocommerce-product-details__short-description{
        display: none;
    }
    .price{
        margin:10px 0;
    }
}
.wc-bookings-booking-form{
    border:none;
    padding:0;
    .label{
        color: $text-color;
        font-weight:500;
    }
}
// style product booking
.wc-bookings-date-picker{
    .ui-datepicker-header{
        padding:5px;
        text-transform: capitalize;
    }
}
.wc-bookings-date-picker .ui-datepicker .ui-datepicker-next, .wc-bookings-date-picker .ui-datepicker .ui-datepicker-prev{
    background:transparent;
    color: #1b1b1b;
    height: 50px;
    @include opacity(1);
}
.wc-bookings-date-picker .ui-widget-content{
    @include box-shadow(none);
}
.wc-bookings-date-picker .ui-datepicker table{
    border-width:0 1px 1px !important;
    border-color:$border-color;
}
.wc-bookings-date-picker .ui-datepicker th{
    font-weight: 700;
    color: $text-color;
}
.wc-bookings-date-picker .ui-datepicker td .ui-state-default{
    color:$text-color;
    padding:8px;
}
.wc-bookings-date-picker .ui-datepicker td.ui-datepicker-other-month{
    background:#fff;
}
.wc-bookings-date-picker .ui-datepicker td.bookable a{
    background:#fff !important;
    color: $text-color !important;
}
.wc-bookings-date-picker .ui-datepicker td.bookable-range .ui-state-default{
    @include box-shadow(0 0 0 2px $theme-color inset);
    background:#fff !important;
    color: $text-color !important;
}
.wc-bookings-date-picker .ui-datepicker td.ui-datepicker-current-day a{
    background:#fff !important;
    color: $theme-color !important;
}
.wc-bookings-booking-form-button{
    width: 100%;
    opacity: 1 !important;
    filter: alpha(opacity=100) !important; /* For IE8 and earlier */
}
.listing-products-booking{
    form.cart,
    div.summary{
        margin:0 !important;
    }
}
.wc-bookings-booking-form .wc-bookings-booking-cost{
    margin: 0 !important;
}
.wc-bookings-booking-form{
    fieldset label{
        width: 28%;
    }
    fieldset input{
        border:1px solid $border-color;
        @include border-radius(2px);
        padding:3px 10px;
    }
    fieldset label span{
        color: $link-color;
        font-size: 11px;
        text-align:center;
    }
    legend{
        font-size: 16px;
    }
}
.listing-products-booking {
    .wc-bookings-booking-form-button.button{
        background: $theme-color !important;
        border-color:$theme-color !important;
        &.disabled{
           @include opacity(0.8); 
        }
    }
    .woocommerce-message{
        padding:10px 40px;
        .wc-forward{
            margin:0 0 5px;
            width: 100%;
        }
    }
    .product-block.grid{
        @include box-shadow(none);
    }
}